#backing
{
  float: left;
  width: 383px;
  margin: 20px 0 0 40px;
  #backers
  {
    border-left: none;
    padding-left: 0;
    ul
    {
      float: left;
    }
  }
  #days {
    border-right: none;
    padding-right: 0;
  }
  ul {
    text-align: center;
  }
  .stats
  {
    margin: 0 auto;
    color: #3f3f3f;
    font-size: 24px;
    display: block;
    display: inline-block;
    font-family: $primary_font, $secondary_font, $tertiary_font;
    border-right: 1px solid #cbcbcb;
    padding-right: 26px;
    padding-left: 26px;
    text-align: left;
    span
    {
      color: #868686;
      font-size: .7em;
      margin-top: 5px;
      display: block;
      font-family: $primary_font, $secondary_font, $tertiary_font;
    }
  }
}
#progress_bg
{
  margin-top: 20px;
  float: left;
  height: 40px;
  box-shadow: 0 1px 1px rgba(0,0,0,.41); /* drop shadow */
  border-radius: 30px;
  width: 383px;
  background: #dbdbdb;
  #progress
  {
    height: 40px;
    box-shadow: 0 1px 1px rgba(0,0,0,.59); /* drop shadow */
    background: -webkit-linear-gradient(20deg, lighten(green,15%) 0%, lighten(green, 15%) 100%); /* gradient fill */
    border-radius: 30px;
    min-width: 2%;
    width: 100%;
    max-width: 100%;
    display: inline-block;
  }
  #progress_text
  {
    margin: 0 auto;
    width: 100%;
    font-size: 14pt;
    display: inline-block;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.37);
    text-align: center;
    position: relative;
    top: -35px;
  }
}
.small
{
  height: 20px !important;
  #progress
  {
    height: 20px !important;
  }
}
