= gravatar_image_tag subscription.subscriber.email, alt: subscription.subscriber.name, title: subscription.subscriber.name, gravatar: {default: image_path("#{request.protocol}#{request.host_with_port}/" + "icon-financiadores-0#{rand(3) + 1}.jpg")}
