= gravatar_image_tag subscription.subscriber.email, alt: subscription.subscriber.name, title: subscription.subscriber.name, gravatar: {default: "#{request.protocol}#{request.host_with_port}/" + image_path("icon-financiadores-0#{rand(3) + 1}.jpg")}
