.large-3.columns= usr.input :first_name, input_html: { ng: { model: 'subscriber.first_name' } }
.large-3.columns= usr.input :last_name, input_html: { ng: { model: 'subscriber.last_name' } }
.large-3.columns= usr.input :cpf, input_html: { class: 'cpf-mask', ng: { model: 'subscriber.cpf' } }
.large-3.columns= usr.input :birthday, as: :string, input_html: { class: 'date-mask', ng: { model: 'subscriber.birthday' } }
.large-5.columns= usr.input :email, input_html: { ng: { model: 'subscriber.email' } }
.large-3.columns.end= usr.input :phone, input_html: { class: 'phone-mask', ng: { model: 'subscriber.phone' }}


