p
  |Obrigado por ajudar a Rede Meu Rio a construir a cidade que todos nós merecemos!
p
  |O boleto para a sua doação, no valor de #{number_to_currency(@payment.subscription.value)}, 
  |foi gerado e aguarda pagamento.
p
  |Se você perdeu o link para o seu boleto, é só clicar aqui: #{link_to(@payment.url, @payment.url)} 
p
  |Assim que o seu pagamento for confirmado, você receberá automaticamente um e-mail com maiores 
  |detalhes sobre a transação e as celebrações que a nossa rede preparou para você, OK?
p
  |Seja bem-vindo à Rede, e muito obrigado!
