p
  |Obrigado por ajudar a Rede Meu Rio a construir a cidade que todos nós merecemos!
p
  |Aqui está o link para realizar a trasferência bancária da sua doação para a conta do Meu Rio, é só clicar aqui: 
  |#{link_to(@payment.url, @payment.url)}
p
  |Uma vez efetuado, seu doação no valor de #{number_to_currency(@payment.subscription.value)} será processado pelo seu banco. Para a sua segurança, os dados informados poderão passar por uma análise e estão sujeitos a confirmação.
p
  |Assim que o seu pagamento for confirmado, você receberá automaticamente um e-mail com maiores 
  |detalhes sobre a transação e as celebrações que a nossa rede preparou para você, OK?

p
  |Seja bem-vindo à Rede, e muito obrigado!


