@import compass/reset 
@import columnal/grid
@import compass/css3
@import icomoon
@import "https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700"

// Color settings
$blue:        #5886F7
$darkblue:    #037ab7
$green:       #059046
$lightgreen:  #AECE6A
$orange:      #f7921e 
$vermillion:  #FF4E00
$gray:        #666666
$lightgray:   lighten($gray, 52%)
$link:        $green


// Defining Columnal Settings
// Check http://www.columnal.com/ to know more.
// Check https://github.com/diogob/compass-columnal-plugin for documentation
$columnal-grid-width: 1140px !default
$columnal-columns: 12 !default


// Mixin to make text look nice
+text

// Defining the standard classes to handle the grid system
.container
  +grid-container
.row
  +grid-row

.show
  display: inline-block !important

.container
  padding:    0
  height:     100%  !important
  width:      100%  !important
  min-width:  800px !important
  height:     930px !important
  min-height: 930px !important

.panel, .scroll
  height: 100%
  width: 100%

.scroll
  top: 0
  left: 0

// Defining default-style classes
body
  color: white
  font-family: "Quattrocento Sans", sans-serif
  font-size: 100%
  line-height: 1.4em
  color: black
  background: url('http://i.imgur.com/JLXgN4u.jpg') repeat-x center top

// Input patterns + placeholder style
input[type='text']
  border-radius: 2px
  padding: .6em 1em
  border: 1px solid lighten(gray, 30%)

\::-webkit-input-placeholder, \:-moz-placeholder, \::-moz-placeholder, \::ms-input-placeholder
  color:    #999

// Button style
.btn
  +background(linear-gradient(lighten($blue,5%), darken($blue, 15%)))
  +border-radius(6px)
  width: 95%
  font-weight: bold
  color: white
  font-size: 1.6em
  text-align: center
  padding: .8em 2em
  border: none
  display: block
  margin: 2em 0 1em 0
  &:hover
    cursor: pointer
    background: $blue

// The loading spinner that appears when someone clicks on "continue"
.loading
  background: image-url('loader.gif') no-repeat top center
  text-indent: -9999px
  &:hover
    cursor: default
    background: image-url('loader.gif') no-repeat top center


// Classes to force show or hide of an element
.hidden
  display: none !important

.show 
  display: inline-block !important

// I don't know
.info
  background: lighten($blue, 40%)
  color: $gray
  font-size: .8em
  padding: 1.5em


.panel
  h2
    font-size: 4em
    text-align: center 
  .text, li.project h3
    width: 80%
    margin-right: auto
    margin-left: auto
    font-size: 1.2em
    line-height: 1.8em
#panel-2
  color: $gray
  background: image-url('panel-crowd.jpg')
#panel-3
  background: #000 







// Header style

header
  padding-bottom: 1.5em



.video_and_header
  +grid(7)
  iframe
    width: 100% !important
  .title
    +grid-subcolumn(7, 5)
    +grid-prefix(3)
    +last
  h1
    font-weight: 100
    color: darken(gray, 20%)
    text-align: right
    font-size: 2.5em
    margin-right: 0 !important
    padding-right: 0 !important








body.projects
  .subscription
    +grid(5)
    +last

    background: lighten(gray, 48%)
    +transition(.2s)
    &:active, &:hover
      +box-shadow(0 1px 4px gray)
  ol.steps
    li
      display: inline-block
    li span:nth-child(1n+0)
      display: block
      text-align: center
      color: lightgray
      text-shadow: 1px 0 1px lightgray
    li span:first-child
      +border-radius(100px)
      display: inline-block
      background: none
      color: lighten(lightgray, 10%)
      text-shadow: 0 1px 1px #666
      font-size: 1.8em
      padding: .5em .8em
      font-weight: 700
      margin: 1em 1em 0.2em 1em
      +box-shadow(inset 0px -1px 4px 1px darken(white, 10%))
      &.selected
        background: $vermillion
  .subscription form
    background: lighten($lightgray, 5%)
    color: gray
    input
      padding: .8em .6em
      width: 96%
      font-size: 1em
      border: lighten(gray, 45%)
      +box-shadow(inset 0 1px .1em lighten(gray, 10%))
      +border-radius(.2em)
    input.date, input.cpf, input.addr_extra, input.addr_number, input.addr_city
      width: 41%
      display: inline-block
    input.date, input.addr_number, input.addr_state
      margin-left: 5%
    input.city
      width: 50%
    input.addr_state
      width: 10%

    label
      display: none
    p
      margin: 1em 0
  .errors
    color: red
    text-align: center
  ol.values
    li
      display: inline-block
      background: $orange
      padding: .6em .6em
      color: white
      font-weight: bold
      font-size: 1.2em
      +border-radius(4px)
      +background-image(linear-gradient($orange, darken($orange, 5%)))
      &:hover
        opacity: .9
        cursor: pointer
      &.selected
        border: 2px solid darken($orange, 20%)
        background: lighten($orange, 10%)
  .wrap
    padding: 1.5em


li.project
  +grid(12)
  .image
    float: left
    padding: .6em
  h3
    line-height: .6em
    font-size: 2.2em !important
    margin: 0 
  .text
    font-size: 1em
    margin-bottom: .4em
  .signatures
    background: $orange
    padding: .2em .6em
    font-weight: bold
    margin-right: 2.5%
    width: 20%
    line-height: 1em
    &::after
      content: " "
      width: 0
      height: 0
      margin-top: .1em
      border: solid transparent
      border-left: 20px solid $orange 
      border-top: 10px solid transparent 
      border-bottom: 13px solid transparent 
      position: absolute



// When something fails on form submiting, these
// are the styles of inputs with error 
input.parsley-error, textarea.parsley-error
  color: rgb(185, 74, 72)
  background: rgb(242, 222, 222) image-url('error.png') right center no-repeat !important
  border: 1px solid rgb(238, 211, 215)

input.parsley-success, textarea.parsley-success
  color: rgb(70, 136, 71)
  background-color: rgb(223, 240, 216)
  border: 1px solid rgb(214, 233, 198)

.parsley-error-list
  display: none !important

