#header
  background: $orange
  height: 80px
  overflow: hidden
  .columns
    position: relative
    margin-top: .6em
.meurio
  float: left
  margin-left: 10%
  margin-top: 1.2em

.button
  background: $lightblue image-url('bg-heart.png') no-repeat 12% center
  text-transform: uppercase
  font-weight: bold !important
  font-size: 2.2em
  font-family: "Proxima Nova Soft"
  padding: .3em 1.6em
  text-indent: 8%
  +border-radius(5px)
  
.screen
  height: 720px
  overflow: auto 
  background-size: 100% auto
  p, h1, h2, h3, h4, h5
    color: white

.screen1
  background: image-url('bg-screen1.png') no-repeat center top
.screen2
  background: image-url('bg-screen2.png') no-repeat center top
.screen3
  background: image-url('bg-screen3.png') no-repeat center top
.screen4
  background: image-url('bg-screen4.png') no-repeat center top
.screen5
  background: image-url('bg-screen5.png') no-repeat center top
