body.subscriptions
  background: $lightgray

  .meurio_apps_and_application_menu
    display: none

  .hidden
    display: none

.subscription-form
  h2
    margin: 1.5em 0 1em 0
  input
    font-size: 1.2em    
    padding-left: .6em

  .tabs dd
    margin-right: 2%
    width: 32%
    &:last-child
      margin-right: 0%

  .tabs dd a
    text-align: center
    background: lighten(lightgrey, 5%)
    color: $gray
    font-weight: bold
    +border-radius(6px 6px 0 0)
    +transition(all .2s)
    &:hover
      background: darken($lightgray, 5%)
  .tabs dd.active a
    background: white !important
    +box-shadow(0 -2px 2px lighten(lightgray, 5%))

  .tabs-content
    margin-top: .1em
    background: white
  .tabs-content > .content
    padding-bottom: 0

.interval-info
  text-align: center
  line-height: 1.4em
  padding-bottom: 1em
  p
    font-size: .8em
    width: 70%
    margin: 0 auto

.subscription-values
  background: lighten($blue, 28%)
  padding: 1em 0
  
  .control-label
    display: none
  label 
    display: inline-block
    padding: 1em
    background: lighten($blue, 35%)
    margin: 1em
    font-size: 2em
    font-weight: bold
    vertical-align: middle
    text-align: center
    line-height: 2em
    min-width: 32px
    +transition(all .2s)
    +border-radius(6px)
    &:hover, &.selected
      background: $blue
      color: white
    input
      visibility: hidden



  

